[Unit]
Description=despiste server
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=1
User=despiste
WorkingDirectory=/opt/despiste
ExecStart=/opt/despiste/server

[Install]
WantedBy=multi-user.target